<div class="title-bar" data-responsive-toggle="responsive-menu" data-hide-for="medium">
    <button class="menu-icon" type="button" data-toggle="responsive-menu"></button>
    <div class="title-bar-title">Menu</div>
  </div>
  
  <div class="top-bar" id="responsive-menu">
    <div class="top-bar-left">
      <ul class="dropdown menu" data-dropdown-menu>
        <li class="menu-text">Reclamos</li>
        <li class="has-submenu">
          <a href="{% url 'pasaje_app:Inicio' %}">Inicio</a>
        </li>
        <li>
          <a href="{% url 'pasaje_app:Guardia' %}">Reclamos en UO</a>
        </li>
        <li class="has-submenu">
          <a href="{% url 'pasaje_app:Listar' %}">Listar Reclamos activos</a>
        </li>
      </ul>
    </div>
  </div>  