{% extends 'include/base.html' %}

{% block title %}
Lista de Reclamos.
{% endblock title %}

{% load static %}<!--cargo carpeta static '-->
{% block content %}

{% include 'include/header.html' %}
<div class='grid-container'>
  <div class='grid-x'>
      <h1 class= "cell">Hay {{colgados.count}} tickets</h1>
  </div>

  <div class = 'grid-x'>
      <form class="cell grid-x grid-margin-x" method="GET">{% csrf_token %}

        <div class="cell large-2">
          <button  class="success button" type="submit" id="kword" name="kword" value="1">
          Celula1
          </button>
        </div>
        <div class="cell large-2">
          <button  class="success button" type="submit" id="kword" name="kword" value="2">
          Celula2
          </button>
        </div>
        <div class="cell large-2">
          <button  class="success button" type="submit" id="kword" name="kword" value="3">
          Celula3
          </button>
        </div>
        <div class="cell large-2">
          <button  class="success button" type="submit" id="kword" name="kword" value="4">
          Celula4
          </button>
        </div>
        <div class="cell large-2">
          <button  class="success button" type="submit" id="kword" name="kword" value="">
          Todos
          </button>
        </div>
      </form>
  </div>
</div>

<div class="grid-container">
      <div class="grid-x grid-margin-x">
          <div class='cell'> 
          
            <table>
                <thead>
                  <tr>
                    <th width="25">SK</th>
                    <th width="25">ID</th>
                    <th width="25">Grupo_Asginado</th>
                    <th width="25">Estado</th>
                    <th width="25">Tiempo Acumulado</th>
                    <th width="25">Horario</th>
                    <th width="25">Celula</th>
                  </tr>
                </thead>

                <tbody>
                    <!--Listado con variable por defecto object_list.</strong>-->
                  {% for i in colgados %}
                    {% for b in celulas %}
                      {% if i.id == b.id %}
                            <tr>
                            <td>{{ i.sk }}</td>
                            <td>{{ i.id}}</td>
                            <td>{{ i.grupo_asignado }}</td>
                            <td>{{ i.estado }}</td>
                            <td>{{ i.tiempo_acumulado }}</td>
                            <td>{{ i.horario }}</td>
                            <td>{{ b.celula_n }}</td>
                            <td><a href="http://remedyaverias:47085/arsys/forms/remedyaverias/SHR%3ALandingConsole/Default+Administrator+View/?mode=search&F304255500=HPD%3AHelp+Desk&F1000000076=FormOpen&F303647600=SearchTicketWithQual&F304255610=%271000000161%27%3D%22{{i.id}}%22&server=remedyaverias" target="_blank"  class="warning button" >tkt remedy</td>
                            </tr>
                      {% endif %}
                    {% endfor %} 
                  {% endfor %}

                </tbody>

            </table>
          </div>
          
        </div>
</div>


{% endblock content %}