{% extends 'include/base.html' %}

{% block title %}

Graficos
{% endblock title %}

{% load static %}<!--cargo carpeta static '-->
{% block content %}
{% include 'include/header.html' %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js"></script>

  
<h1>Ejemplo</h1>


<canvas id="myChart">grafico</canvas>

<script>
var ctx = document.getElementById('myChart').getContext('2d');
var myChart = new Chart(ctx,{
    type:"bar",
    data:{
      labels: ['col1','col2','col3'],
      datasets:[{
        label: 'Num datos',
        data:[10,25,15]
      }]

    }
});
</script>
{% endblock content %}
