{% extends 'include/base.html' %}

{% block title %}

Graficos
{% endblock title %}

{% load static %}<!--cargo carpeta static '-->
{% block content %}
{% include 'include/header.html' %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.min.js"></script>


  
<h1>Ejemplo</h1>
<h2>{{cel1}}</h2>
<h2>{{cel2}}</h2>
<h2>{{cel3}}</h2>
<h2>{{cel4}}</h2>


<div>
  <canvas id="popChart" width="600" height="400"></canvas>
</div>


<script>
var popCanvas = document.getElementById("popChart").getContext("2d");

var barChart = new Chart(popCanvas, {
  type: 'bar',
  data: {
    labels: ["celula1","Celula2","Celula3","Celula4"],
    datasets: [{
      label: 'Population',
      data: [{{cel1}},{{cel2}},{{cel3}},{{cel4}}],
      backgroundColor: [
        'rgba(255, 99, 132, 0.6)',
        'rgba(54, 162, 235, 0.6)',
        'rgba(255, 206, 86, 0.6)',
        'rgba(75, 192, 192, 0.6)'
      ]
    }]
  }
});
</script>
{% endblock content %}
