{% extends 'include/base.html' %}

{% block title %}

Graficos
{% endblock title %}

{% load static %}<!--cargo carpeta static '-->
{% block content %}
{% include 'include/header.html' %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.min.js"></script>

<h4>Reclamos colgados: {{colgados.count}} </h4>
{% for i in colgados %}
<ul>
{{i.id}},{{i.estado}},{{i.horario}},{{i.grupo_asignado}}
</ul>
{% endfor %}

{% for i in lista %}
<ul>
{{i}}
</ul>
{% endfor %}

<div class='grid container'>
  <div class='grid-x'>
    <div class = 'cell large-6'>
      <canvas id="popChart" width="300" height="100"></canvas>
    </div>
  </div>
</div>

<div class='grid container'>
  <div class='grid-x'>
    <div class = 'cell large-6'>
      <canvas id="line-chart" width="300" height="100"></canvas>
    </div>
  </div>
</div>

<div class='grid container'>
  <div class='grid-x'>
    <div class = 'cell large-6'>
      <canvas id="pie-chart" width="300" height="100"></canvas>
    </div>
  </div>
</div>

<script>
var popCanvas = document.getElementById("popChart").getContext("2d");

var barChart = new Chart(popCanvas, {
  type: 'bar',
  data: {
    labels: ["celula1","Celula2","Celula3","Celula4"],
    datasets: [{
      label: 'Reclamos',
      data: [{{cel3}},{{cel2}},{{cel1}},{{cel4}}],
      backgroundColor: [
        'rgba(255, 99, 132, 0.6)',
        'rgba(54, 162, 235, 0.6)',
        'rgba(255, 99, 132, 0.6)',
        'rgba(75, 192, 192, 0.6)'
      ]
    }]
  }
});
</script>



<script>
  new Chart(document.getElementById("line-chart"), {
  type: 'line',
  data: {
    labels: ["celula1","Celula2","Celula3","Celula4"],
    datasets: [{ 
        data: [{{cel3}},{{cel2}},{{cel1}},{{cel4}}],
        label: "Reclamos",
        borderColor: "#3e95cd",
        fill: false
      } 
    ]
  },
  options: {
    title: {
      responsive: true,
      display: true,
      text: 'Reclamos lineales'
    }
  }
});
</script>

<script>

new Chart(document.getElementById("pie-chart"), {
    type: 'pie',
    data: {
      labels: ["celula1","Celula2","Celula3","Celula4"],
      datasets: [{
        label: "reclamos",
        backgroundColor: ["#3e95cd", "#8e5ea2","#3cba9f","#e8c3b9","#c45850"],
        data: [{{cel3}},{{cel2}},{{cel1}},{{cel4}}]
      }]
    },
    options: {
      title: {
        display: true,
        text: 'Reclamos en celula'
      }
    }
});

</script>


{% endblock content %}
