{% extends 'include/base.html' %}

{% block title %}
Panel de Monitoreo
{% endblock title %}
{% load static %}


{% block content %}
{% include 'include/header.html' %}
<div class='grid-container'>
    <div class = 'grid-x'>
        <form class="cell grid-x grid-margin-x" method="GET">{% csrf_token %}
            <div class = 'grid-x'>
                <p>Fecha de hoy: {{fecha}}</p>
            </div>
            <div class = 'grid-x'>
                <div class="cell large-2">
                    <p>Reclamos totales: {{total}}</p>
                </div>
            </div>
            <div class = 'grid-x'>
                <div class="cell large-2">
                    <p>Reclamos Celula 1: {{cel1}}</p>
                </div>
            </div>
            
            <div class = 'grid-x'>
                <div class="cell large-2">
                    <p>Reclamos Celula 2: {{cel2}}</p>
                </div>
            </div>
            <div class = 'grid-x'>
                <p>Reclamos Celula 3: {{cel3}}</p>
            </div>
            <div class = 'grid-x'>
                <p>Reclamos Celula 4: {{cel4}}</p>
            </div>
            <div class = 'grid-x'>
                <p>{{valor}}</p>
            </div>
            <div class = 'grid-x'>
                <button  class="success button" type="submit" id="kword" name="kword" value="Acabas de modificar la variable valor">
                    Boton Prueba
                </button>
            </div>
        </form>
    </div>

</div>


<div class='grid-container'>
    <div class = 'grid-x'>
        <div class="callout success ">
            <h5>This is a success  callout</h5>
            <p>It has an easy to override visual style, and is appropriately subdued.</p>
            <a href="#">It's dangerous to go alone, take this.</a>
        </div>
    </div>
</div>

<script>
     @include callout-style($medium-gray);
</script>
<!-- Actualizar cada 120 segundos -->
<script language="javascript">
    setTimeout(function(){
       window.location.reload(1);
    }, 120000);
</script>


{% endblock content %}