{% extends 'include/base.html' %}

{% block title %}
Panel de Monitoreo
{% endblock title %}
{% load static %}


{% block content %}
{% include 'include/header.html' %}
<div class='grid-container'>
    <div class = 'grid-x'>
        <form class="cell grid-x grid-margin-x" method="GET">{% csrf_token %}
            <div class = 'grid-x'>
                <p>Fecha de hoy: {{fecha}}</p>
            </div>
            <div class = 'grid-x large-12'>
                <div class="cell large-3">
                    <div class="callout success ">
                        <h5>Reclamos totales:</h5>
                        <p> {{total}}</p>
                    </div>
                </div>
            </div>

            <div class = 'grid-x'>
                <div class="cell large-3">
                    <div class="callout success ">
                        <h5>Reclamos Celula 1:</h5>
                        <p>{{cel1}}</p>
                    </div>
                </div>               
            
                <div class="cell large-3">
                    <div class="callout success ">
                        <h5>Reclamos Celula 2:</h5>
                        <p>{{cel2}}</p>
                    </div>
                </div>               


                <div class="cell large-3">
                    <div class="callout success ">
                        <h5>Reclamos Celula 3:</h5>
                        <p>{{cel3}}</p>
                    </div>
                </div>               
            
                <div class="cell large-3">
                    <div class="callout success ">
                        <h5>Reclamos Celula 4:</h5>
                        <p>{{cel4}}</p>
                    </div>
                </div>               
            </div>

            <div class = 'grid-x large-12'>
                <p>{{valor}}</p>
            </div>

            <div class = 'grid-x'>
                <button  class="success button" type="submit" id="kword" name="kword" value="Acabas de modificar la variable valor">
                    Boton Prueba
                </button>
            </div>

        </form>
    </div>

</div>


<!-- Actualizar cada 120 segundos -->
<script language="javascript">
    setTimeout(function(){
       window.location.reload(1);
    }, 120000);
</script>


{% endblock content %}